#app {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 60px; /*To contain HEADER*/
  margin-bottom: 20px; /*To cotain FOOTER*/
}

#header {
  background-color: red;
  height: 60px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  width: 100%;
}
#header > span {
  color: white;
}

#content {
}

#sidebar {
  position: relative;
  z-index: 2;
  width: 360px;
  background-color: pink;
  bottom: 0px;
  top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#map {
  bottom: 0px;
  top: 60px;
  position: fixed;
  left: 360px;
  right: 0px;
  z-index: 1;
  background-color: bisque;
  background: url("http://placekitten.com/g/200/300");
}

.blank-item {
  width: 340px;
  height: 250px;
  margin: 10px;
  background-color: gray;
  margin-bottom: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  height: 20px;
  z-index: 4;
}
#footer > span {
  color: white;
}
